<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">


				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/client/create}" class="btn btn-secondary btn-xs">Create
						Client</a>
				</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th sec:authorize="hasRole('ROLE_USER')">ID</th>
							<th>Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Date</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Invoices</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="client: ${clients}">
							<td sec:authorize="hasRole('ROLE_USER')"><a class="btn btn-primary btn-xs" th:href="@{/client/view/} + ${client.id}" th:text="${client.id}"></a></td>
							<td th:text="${client.name}"></td>
							<td th:text="${client.lastName}"></td>
							<td th:text="${client.email}"></td>
							<td th:text="${client.createdAt}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-success btn-xs" th:href="@{'/invoice/form/' + ${client.id}}" th:text="'create invoice'"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-xs"
								th:href="@{/client/__${client.id}__/edit}"
								 th:text="'edit'"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-xs"
								th:href="@{/client/__${client.id}__/delete}"
								th:text="'delete'"></a></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="layout/paginator :: paginator"></nav>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>